.wx-editor-toolbar.wx-66OW1j0R {
  padding: 0 20px;
}

.wx-editor-toolbar .toolbar {
  padding: 0;
  gap: 4px;
}

.wx-editor-toolbar .toolbar .tb-element {
  padding: 0;
}

.wx-topbar.wx-66OW1j0R {
  margin-bottom: 10px;
}
.wx-bottom.wx-66OW1j0R {
  margin-top: 10px;
}
