.wx-event-calendar-combo-option.wx-HFb1cehm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wx-event-calendar-color.wx-HFb1cehm {
  width: 10px;
  height: 10px;
}
